*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #6197BE;
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: 400;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Gilroy-Black.woff");
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.woff");
  font-display: swap;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  text-transform: uppercase;
}
.title--intro {
  display: block;
  width: 500px;
  text-align: left;
  margin-bottom: 15px;
}
.title--package {
  width: 947px;
}
.title--feedback {
  color: #ffffff;
}

.text {
  font-size: 20px;
  line-height: 25px;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--intro {
  display: block;
  width: 370px;
  margin-top: 23px;
  color: #ffffff;
}
.text--white {
  color: #ffffff;
}
.text--center {
  text-align: center;
}
.text--video {
  margin-top: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 70px;
  border-radius: 45px;
  background-color: #EBA7BE;
  font-family: "Proxima Nova";
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button--more {
  margin-top: 46px;
}
.button--feedback {
  border: none;
  width: 480px;
}
.button:hover {
  background-color: #6197BE;
  transition: 0.2s linear;
}

.header {
  padding: 0 0 50px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 165px;
  height: 34px;
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.intro {
  padding: 40px 0 55px 0;
  overflow: hidden;
}
.intro__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.intro__inner::before {
  content: "";
  position: absolute;
  background-image: url("../img/intro/intro-left-img.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 191.1px;
  height: 346.4px;
  bottom: 110px;
  left: -250px;
  display: block;
}
.intro__inner::after {
  content: "";
  position: absolute;
  background-image: url("../img/intro/intro-right-img.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 265.66px;
  height: 435px;
  bottom: 102px;
  right: -276px;
  display: block;
}
.intro__text {
  display: flex;
  flex-direction: column;
}
.intro__img {
  display: block;
  position: absolute;
}
.intro__img--pc {
  bottom: -80px;
  right: 57px;
}
.intro__img--m {
  display: none;
}

.timer {
  background-color: #ffffff;
  padding: 25px 0;
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}
.timer__title {
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: 700;
  width: 272px;
  font-size: 26px;
  line-height: 32px;
  display: block;
  margin-right: 20px;
}
.timer__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timer__inner {
  display: flex;
  flex-direction: row;
}
.timer__inner--item {
  display: flex;
  align-items: center;
}
.timer__inner--item:not(:last-child)::after {
  content: "";
  display: block;
  margin: 0 20px;
  width: 1px;
  height: 65px;
  background-color: #EBA7BE;
}
.timer__inner--item__col {
  display: flex;
  flex-direction: column;
}
.timer__inner--item__num {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #4782AC;
}
.timer__inner--item__text {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #4782AC;
}

.video {
  padding-top: 120px;
  position: relative;
}
.video::before {
  content: "";
  background-image: url("../img/video/video-img-left.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 210px;
  left: 62px;
  display: block;
  width: 228px;
  height: 585px;
  z-index: -1;
}
.video::after {
  content: "";
  background-image: url("../img/video/video-img-right.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -400px;
  right: 62px;
  display: block;
  width: 1043.66px;
  height: 991px;
  z-index: -1;
}
.video__inner {
  width: 100%;
  height: 620px;
}

.list {
  margin-top: 30px;
}
.list__item {
  margin-bottom: 25px;
  display: flex;
  align-items: baseline;
}
.list__item:last-child {
  margin-bottom: 0;
}

.autor {
  padding: 110px 0 70px 0;
  overflow: hidden;
  position: relative;
}
.autor::after {
  content: "";
  background-image: url("../img/autor/autor-img-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  width: 343px;
  height: 1050px;
  z-index: -1;
}
.autor::before {
  content: "";
  background-image: url("../img/autor/autor-img-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 275px;
  height: 1226px;
  z-index: -1;
}
.autor__inner {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.autor__inner--img {
  display: none;
}
.autor__inner--item {
  width: 49%;
  margin-bottom: 22px;
}
.autor__inner--item:nth-child(2), .autor__inner--item:nth-child(3) {
  background-color: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  padding: 45px 95px 40px 70px;
}
.autor__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.autor__name {
  color: #000000;
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 26px;
  line-height: 25px;
}

.credit {
  color: #4782AC;
  font-weight: 700;
}

.package {
  padding: 90px 0 0 0;
}
.package__link {
  display: none;
}
.package__inner {
  padding: 155px 0 0 0;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 0px 0px;
}
.package__credit {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.package__credit--link {
  color: #000000;
  margin-bottom: 10px;
}
.package__credit--link__tinkof {
  position: relative;
}
.package__credit--link__tinkof::before {
  position: absolute;
  top: 0;
  left: -32px;
  content: "";
  background-image: url("../img/tinkof.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 22px;
}
.package__credit--link:last-child {
  margin-bottom: 0;
}
.package__item {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.package__item--m {
  display: none;
}
.package__item--header {
  position: relative;
  padding: 46px 210px 34px 86px;
  position: relative;
  font-family: "Gilroy";
  border-bottom: 1px solid #000000;
}
.package__item--header__title {
  font-family: "Gilroy";
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  color: #292727;
}
.package__item--header__left {
  position: relative;
}
.package__item--header__left::before {
  content: "";
  position: absolute;
  top: -97px;
  right: -25px;
  background-image: url("../img/package/package-img-2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 375px;
  height: 195px;
}
.package__item--header__center {
  position: relative;
}
.package__item--header__center::before {
  content: "";
  position: absolute;
  top: -160px;
  right: 0;
  background-image: url("../img/package/recommended.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 270px;
  height: 290px;
}
.package__item--header__right {
  position: relative;
}
.package__item--header__right::before {
  content: "";
  position: absolute;
  top: -183px;
  right: 10px;
  background-image: url("../img/package/package-img-3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 320px;
  height: 268px;
}
.package__item--header small {
  display: block;
  width: 250px;
  font-family: "Proxima Nova";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.package__item--body {
  padding: 31px 160px 31px 86px;
}
.package__item--body__link {
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  font-family: "Proxima Nova";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 30px;
}
.package__item--body__link:hover {
  transition: 0.2s linear;
  color: #DE6C92;
  font-weight: 700;
}
.package__item--price {
  padding: 5px 0 60px 86px;
  margin-top: auto;
}
.package__item--price__title {
  margin-bottom: 25px;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}
.package__item--price__old {
  position: relative;
  margin-bottom: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #292727;
}
.package__item--price__old::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -9px;
  width: 150px;
  height: 2px;
  background-color: #EBA7BE;
}
.package__item--price__new {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #4782AC;
}
.package__item--footer {
  border-top: 1px solid #000000;
  padding: 38px 0 51px 86px;
  overflow: hidden;
  background: #ffffff;
  text-decoration: none;
}
.package__item--footer__buy {
  display: flex;
  align-items: center;
}
.package__item--footer__buy:hover {
  transform: scale(1.03);
  transition: 0.2s linear;
}
.package__item--footer svg {
  display: block;
  width: 80px;
  height: 20px;
  margin-left: 30px;
  fill: #292727;
}
.package__item--center {
  border-left: 1px #000000 solid;
  border-right: 1px #000000 solid;
}
.package__buy {
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}

.blocker.behind {
  background-color: transparent;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 100;
  max-width: 600px;
  border-radius: 60px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 56px 56px 60px 56px;
  text-align: left;
}
.modal__inf--title {
  font-family: "Proxima Nova";
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #000000;
}
.modal__inf--title__bold {
  margin-top: 40px;
  margin-bottom: 27px;
}
.modal__inf--title__bold:first-child {
  margin-top: 0;
}
.modal__inf--text {
  display: block;
  margin-bottom: 26px;
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.modal__inf--text__italic {
  font-weight: bold;
  font-style: italic;
}
.modal__inf--text__bold {
  font-weight: bold;
}
.modal__inf--price {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #292727;
  text-transform: uppercase;
}
.modal a.close-modal {
  position: absolute;
  top: -15px;
  right: -25px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2241%22%20height%3D%2240%22%20viewBox%3D%220%200%2041%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cline%20x1%3D%221.35355%22%20y1%3D%220.646447%22%20x2%3D%2240.3535%22%20y2%3D%2239.6464%22%20stroke%3D%22white%22%2F%3E%0A%3Cline%20y1%3D%22-0.5%22%20x2%3D%2255.1543%22%20y2%3D%22-0.5%22%20transform%3D%22matrix%28-0.707107%200.707107%200.707107%200.707107%2040%201%29%22%20stroke%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.modal a.close-modal:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2241%22%20height%3D%2240%22%20viewBox%3D%220%200%2041%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cline%20x1%3D%221.35355%22%20y1%3D%220.646447%22%20x2%3D%2240.3535%22%20y2%3D%2239.6464%22%20stroke%3D%22%23FF6464%22%2F%3E%0A%3Cline%20y1%3D%22-0.5%22%20x2%3D%2255.1543%22%20y2%3D%22-0.5%22%20transform%3D%22matrix%28-0.707107%200.707107%200.707107%200.707107%2040%201%29%22%20stroke%3D%22%23FF6464%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  transition: 0.4s linear;
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}
.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.modal-spinner .rect2 {
  animation-delay: -1.1s;
}
.modal-spinner .rect3 {
  animation-delay: -1s;
}
.modal-spinner .rect4 {
  animation-delay: -0.9s;
}

.top {
  position: relative;
}
.top::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  background-image: url("../img/top.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
}

.new {
  position: relative;
}
.new::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  background-image: url("../img/new.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
}

.footer {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  background-image: url("../img/footer/footer-img-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 187.66px;
  height: 216px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: -1;
}
.footer::after {
  content: "";
  background-image: url("../img/footer/footer-img-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 187.66px;
  height: 216px;
  position: absolute;
  top: 150px;
  right: 100px;
  z-index: -1;
}
.footer__inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inner--text {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
.footer__inner--email {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
}
.footer__inner--email:hover {
  color: #EBA7BE;
  transition: 0.2s linear;
}
.footer__link {
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.footer__link--item {
  display: block;
  width: 65px;
  height: 65px;
  fill: #EBA7BE;
}
.footer__link--item:hover:hover {
  fill: #ffffff;
  transition: 0.2s linear;
}
.footer__link--item svg {
  display: block;
  width: 100%;
  height: 100%;
}

.open {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.open--rotate {
  transform: rotate(45deg);
}

.svg {
  display: none;
}
.svg--plus {
  display: flex;
  width: 15px;
  height: 15px;
  flex: 0 0 auto;
}

.feedback {
  background-color: #6197BE;
  padding: 70px 0;
}
.feedback__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback__inner--item {
  display: flex;
  flex-direction: column;
  width: 404px;
}
.feedback__input {
  display: block;
  width: 480px;
  height: 81px;
  background: #FFFFFF;
  border: none;
  border-radius: 45px;
  font-size: 26px;
  color: #C9C6C6;
  padding: 13px 0 13px 25px;
}
.feedback__input:active {
  color: #000000;
}
.feedback__input:focus {
  color: #000000;
}

.margin {
  margin-bottom: 35px;
}

.buy__inner--currency {
  font-family: "Proxima Nova";
  margin-top: 10px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.buy__inner--currency p {
  margin: 0;
}
.buy__inner--currency p::after {
  content: "/";
  padding: 0 5px;
}
.buy__inner--currency p:last-child::after {
  display: none;
}

@media (max-width: 1650px) {
  .package__item--header {
    padding: 46px 125px 34px 55px;
  }
  .package__item--header__left::before {
    width: 275px;
    height: 145px;
  }
  .package__item--header__center::before {
    width: 219px;
    height: 237px;
  }
  .package__item--header__right::before {
    top: -154px;
    width: 238px;
    height: 201px;
  }
  .package__item--price {
    padding: 5px 0 0 86px;
  }
  .package__item--body {
    padding: 31px 100px 31px 55px;
  }
  .package__item--footer {
    padding: 38px 0 45px 55px;
  }
}
@media (max-width: 1408px) {
  .package__item--header {
    padding: 31px 50px 31px 60px;
  }
  .package__item--body {
    padding: 31px 50px 31px 60px;
  }
  .package__item--price {
    padding: 31px 50px 31px 60px;
  }
}
@media (max-width: 1366px) {
  .container {
    padding: 0 2%;
  }

  .modal a.close-modal {
    width: 21px;
    height: 21px;
    top: -21px;
    right: -21px;
  }

  .package__item--header__left svg {
    width: 115px;
    height: 106px;
  }
  .package__item--header__center svg {
    width: 171px;
    height: 171px;
  }
  .package__item--header__right svg {
    width: 90px;
    height: 90px;
    top: -50px;
  }
  .package__item--footer svg {
    display: none;
  }
  .package__img--white {
    width: 300px;
    height: auto;
    top: -293px;
  }
  .package__img--red {
    width: 220px;
    height: auto;
  }
  .package__img--green {
    width: 200px;
    height: auto;
    top: -200px;
  }
}
@media (max-width: 1196px) {
  .package__item--footer {
    padding: 38px 0 45px 40px;
  }
}
@media (max-width: 1134px) {
  .margin {
    margin-bottom: 60px;
  }
}
@media (max-width: 1080px) {
  .feedback__inner {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1030px) {
  .timer__title {
    width: 233px;
    font-size: 22px;
    line-height: 27px;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .autor__inner {
    flex-direction: column;
    align-items: center;
  }
  .autor__inner--item {
    width: 70%;
  }
  .autor__inner--item:nth-child(1) {
    order: 1;
  }
  .autor__inner--item:nth-child(2) {
    order: 2;
    margin-bottom: 60px;
  }
  .autor__inner--item:nth-child(3) {
    order: 4;
  }
  .autor__inner--item:nth-child(4) {
    order: 3;
  }

  .title--package {
    width: auto;
    text-align: center;
  }

  .intro__img--pc {
    right: 0;
  }

  .timer {
    position: relative;
  }
  .timer__intro {
    justify-content: space-evenly;
  }

  .button--timer {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .button--buy {
    margin: 25px 0 0 0;
  }

  .open {
    display: flex;
    flex: 0 0 auto;
  }
  .open--white {
    background-color: #ffffff;
  }

  .modal {
    width: 100%;
    max-width: 100%;
    padding: 0 60px 10px 45px;
    border-radius: 0;
    background-color: #4782AC;
  }
  .modal__inf--text {
    margin-bottom: 0;
    color: #ffffff;
  }
  .modal__inf--text__bold {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .modal__inf--text__italic {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .modal__inf--title {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .modal__inf--price {
    color: #EBA7BE;
    text-transform: lowercase;
  }

  .video::before, .video::after {
    display: none;
  }

  .autor::before, .autor::after {
    display: none;
  }

  .package {
    padding: 60px 0 0 0;
    overflow: hidden;
  }
  .package__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .package__item {
    width: 80%;
    margin-bottom: 160px;
  }
  .package__item:last-child {
    margin-bottom: 0;
  }
  .package__item--header {
    border-bottom: none;
    padding: 31px 50px 31px 45px;
  }
  .package__item--header__center::before {
    top: -130px;
  }
  .package__item--header__right::before {
    top: -125px;
  }
  .package__item--body {
    background-color: #4782AC;
    padding: 10px 0;
  }
  .package__item--body__link {
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
  }
  .package__item--body__link--active {
    font-weight: 700;
    transition: 0.2s linear;
  }
  .package__item--body__link:hover {
    border-bottom: none;
  }
  .package__item--center {
    border-left: none;
    border-right: none;
  }
  .package__item--footer {
    border-top: none;
    border-radius: 0 0 30px 30px;
  }
  .package__item--footer svg {
    fill: #ffffff;
  }
  .package__item--footer__left {
    background-color: #EBA7BE;
  }
  .package__item--footer__center {
    background-color: #EBA7BE;
  }
  .package__item--footer__right {
    background-color: #EBA7BE;
  }
  .package__item--price {
    padding: 30px 50px 40px 45px;
    display: flex;
    flex-direction: column;
  }
  .package__item--pc {
    display: none;
  }
  .package__item--m {
    display: block;
  }
  .package__link {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 45px;
    border-top: 2px #ffffff solid;
  }
  .package__link:first-of-type {
    border-top: none;
  }
  .package__link:last-of-type {
    border-bottom: none;
  }
  .package__buy {
    color: #ffffff;
  }

  .buy__inner--currency {
    margin-bottom: 30px;
  }

  .top::before {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: rotate(-13.49deg) translateY(-50%);
  }

  .new::before {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: rotate(-13.49deg) translateY(-50%);
  }

  .feedback__input {
    font-size: 20px;
    padding: 13px 0 13px 39px;
  }
  .feedback__inner--item {
    width: auto;
    text-align: center;
  }

  .footer::before, .footer::after {
    display: none;
  }
}
@media (max-width: 850px) {
  .intro__img--pc {
    width: 500px;
  }

  .footer__link {
    width: 45%;
  }
  .footer__link--item {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .timer__intro {
    justify-content: space-between;
  }

  .intro__img--pc {
    width: 440px;
  }

  .modal {
    max-width: 80%;
  }

  .modal__inf--title {
    font-size: 24px;
    line-height: 27px;
  }

  .modal__inf--text {
    font-size: 18px;
    line-height: 21px;
  }

  .modal__inf--price {
    font-size: 24px;
    line-height: 27px;
  }

  .package__inner {
    padding: 120px 0 60px 0;
  }
  .package__item--header__left::before {
    top: -41px;
    right: -45px;
    width: 212px;
    height: 114px;
  }

  .footer__inner--text {
    font-size: 24px;
  }
  .footer__inner--email {
    font-size: 24px;
  }
}
@media (max-width: 677px) {
  .header {
    padding: 0 0 20px 0;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }
  .title--intro {
    width: 230px;
    margin-bottom: 10px;
  }

  .subtitle--feedback {
    width: auto;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }
  .text--intro {
    width: 40%;
  }

  .intro {
    padding: 30px 0 70px 0;
  }
  .intro__subtitle {
    width: 140px;
  }
  .intro__subtitle img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .intro__img--pc {
    display: none;
  }
  .intro__img--m {
    display: block;
    right: 0;
    bottom: -80px;
    width: 70%;
  }

  .timer {
    padding: 20px 0;
  }
  .timer__title {
    position: absolute;
    color: #ffffff;
    top: -57px;
    left: 2%;
    font-size: 16px;
    line-height: 19px;
  }
  .timer__intro {
    justify-content: center;
  }
  .timer__inner--item:not(:last-child)::after {
    height: 45px;
  }
  .timer__inner--item__num {
    font-size: 30px;
    line-height: 29px;
  }
  .timer__inner--item__text {
    font-size: 14px;
    line-height: 16px;
  }

  .autor__inner--item {
    width: 90%;
  }

  .footer__inner--text {
    font-size: 21px;
  }
  .footer__inner--email {
    font-size: 21px;
  }
  .footer__link {
    margin: 40px auto 0 auto;
    width: 40%;
  }
  .footer__link--item {
    width: 35px;
    height: 35px;
  }

  .buy__inner--currency {
    margin-bottom: 0;
  }
}
@media (max-width: 568px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .subtitle--feedback {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }
  .text--intro {
    width: 47%;
  }

  .header__logo {
    width: 129px;
    height: 27px;
  }

  .intro__img--m {
    width: 95%;
  }

  .button--feedback {
    width: 100%;
  }

  .modal__inf--text {
    font-size: 16px;
  }

  .feedback__input {
    height: 50px;
    width: 100%;
    font-size: 16px;
  }
  .feedback__form {
    width: 100%;
  }
  .feedback__inner--item {
    width: 100%;
    text-align: left;
  }

  .video__inner {
    height: 307px;
  }

  .autor__inner {
    margin-top: 40px;
  }
  .autor__inner--item:nth-child(2) {
    padding: 40px 60px 35px 40px;
  }
  .autor__inner--item:nth-child(3) {
    padding: 40px 60px 35px 40px;
  }

  .package__inner {
    padding: 120px 0 0 0;
  }
  .package__item {
    width: 96%;
  }

  .buy__inner--currency {
    margin-bottom: 0;
  }

  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 450px) {
  .title--feedback {
    font-size: 28px;
    line-height: 32px;
  }

  .text--intro {
    width: 50%;
  }

  .package__item--header__title {
    font-size: 19px;
    line-height: 23px;
  }
  .package__item--header small {
    font-size: 10px;
    line-height: 14px;
    width: 150px;
  }
  .package__item--body__link {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
  }
  .package__item--footer {
    padding: 32px 0;
  }
  .package__item--footer svg {
    width: 56px;
    height: 15px;
    margin-left: 10px;
  }
  .package__item--price__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .package__item--price__old {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .package__item--price__old::after {
    left: -7px;
    width: 120px;
  }
  .package__item--price__new {
    font-size: 20px;
    line-height: 24px;
  }
  .package__buy {
    font-size: 16px;
    line-height: 20px;
  }

  .top::before {
    width: 22px;
    height: 22px;
  }

  .new::before {
    width: 22px;
    height: 22px;
  }

  .modal {
    padding: 0 10px 10px 45px;
  }
}
@media (max-width: 414px) {
  .intro {
    padding: 30px 0 80px 0;
  }
  .intro__img--m {
    width: 100%;
    bottom: -90px;
  }

  .text--intro {
    margin-top: 20px;
    width: 55%;
  }

  .button {
    width: 230px;
    height: 49px;
    font-size: 16px;
    line-height: 19px;
  }
  .button--timer {
    bottom: -70px;
  }
  .button--feedback {
    width: 100%;
  }
  .button--buy {
    width: 170px;
    height: 60px;
  }

  .modal {
    max-width: 95%;
  }
  .modal__inf--title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .modal__inf--text {
    font-size: 16px;
    line-height: 19px;
  }
  .modal__inf--text__italic {
    font-size: 14px;
    line-height: 19px;
  }
  .modal__inf--price {
    font-size: 19px;
    line-height: 21px;
  }

  .video__inner {
    height: 223px;
  }

  .package {
    overflow: hidden;
  }
  .package__item--header__left::before {
    top: -45px;
    right: -45px;
    width: 232px;
    height: 122px;
  }
  .package__item--header__center::before {
    width: 216px;
    height: 232px;
    top: -123px;
    right: -34px;
  }
  .package__item--header__right::before {
    width: 189px;
    height: 161px;
    top: -95px;
    right: 0px;
  }
  .package__inner {
    padding: 100px 0 0 0;
  }

  .autor__inner--item {
    width: 100%;
  }
  .autor__inner--item:nth-child(2), .autor__inner--item:nth-child(3) {
    padding: 40px 35px 35px 25px;
  }

  .footer {
    padding-bottom: 50px;
  }
  .footer__inner {
    margin-top: 25px;
  }
  .footer__inner--text {
    font-size: 14px;
  }
  .footer__inner--email {
    font-size: 14px;
  }
  .footer__link {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .timer__inner--item:not(:last-child)::after {
    margin: 0 14px;
  }
  .timer__inner--item__num {
    font-size: 24px;
  }

  .video__inner {
    height: 196px;
  }
}
@media (max-width: 320px) {
  .video__inner {
    height: 172px;
  }
}